body{
    background-color: #eb50d9;
}
.care-desk{
    text-align: center;
    margin-top: 5%;
}
p{
    color: white;
    font-size: larger;
    padding: 10px;
}
#delInfo, #qualityInfo, #careDeskInfo, #techDesignInfo{
    /* color: blue; */
    display:none ;
}
h3{
    cursor: pointer;
    text-decoration: underline;
    
}
h3:hover{
    color: blue;
}
